@charset "utf-8";


// -----------------------------------------------
// * Sound Wave ---

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh; 
  background-image: url(./bg.jpg);
  background-position: center;
  background-size: cover;
  background-color: #212121;
  overflow: hidden;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .controller {
    position: absolute;
    padding: 30px 30px 60px; 
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5),
    -1px -1px 5px rgba(0,0,0,0.3),
    inset 2px 1px 3px rgba(255, 255, 255, 0.2),
    inset -3px -3px 2px rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    color: #555;
    @media (min-width: 961px) {
      width: 73%;
    }
    @media (max-width: 430px) {
      width: 90%;
      padding: 15px 20px 100px;
    }
    .text {
      display: flex;
      align-items: center;
      font-weight: bold;
      letter-spacing: 1px;
      color: #fff;
      text-shadow: 2px 2px 2px 
        rgba(0, 0, 0, 0.4);
        @media (max-width: 430px) {
          flex-direction: column;
        }
      .title-wrapper {
        display: flex;
        white-space: nowrap;
        @media (max-width: 430px) {
          flex-direction: column;
          align-items: center;
        }
        h2.logo {
          font-size: clamp(0.8em, 2vw, 1.2em);
          margin-top: 5px;
        }
        h1.title {
          font-size: 1.8em;
          font-size: clamp(0.8em, 3vw, 1.8em);
          margin-left: 20px;
          @media (max-width: 430px) {
            font-size: 2em;
            margin: 10px 0 15px;
          }
        }
      }
      .timestamp-container {
        display: flex;
        .timestamp-wrapper {
          margin-left: 20px;
          white-space: nowrap;
          &:nth-of-type(2) {
            margin-left: 15px;
            width: 90px;
          }
          .volume {
            position: relative;
            margin-right: 10px;
            font-size: 14px;
            cursor: pointer;
            &.active {
              text-shadow: none;
            }
            &.active::after {
              opacity: 1;
              text-shadow: 2px 2px 2px 
                rgba(0, 0, 0, 0.4);
            }
            &::after {
              content: '\f028';
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
            }
          }
          .fa-play {
            margin: 0 5px;
            color: var(--clr);
            opacity: 0.6;
          }
          #time-total,
          #time-current {
            margin-left: 5px;
          }
        }
      }
    }
    .track {
      display: flex; 
      align-items: center; 
      margin-top: 20px; 
      width: 100%; 
      @media (max-width: 430px) {
        display: block;
        margin-top: 10px;
      }
      .playBtn {
        width: 70px;
        aspect-ratio: 1; 
        font-size: 70px;
        margin-right: 10px;
        opacity: .6;
        transition: .5s;
        cursor: pointer;
        z-index: 100;
        @media (max-width: 430px) {
          margin-right: 15px;
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
          width: 60px; 
          font-size: 60px;
        }
        &.hover {
          opacity: 1;
        }
        &::before {
          content: "\f144";
          font-family: "font awesome 5 free";
          font-weight: 400;
          color: var(--clr);
        }
        &.active::before {
          content: "\f28b";
        }
      }
      .waveForm {
        flex: 1; 
        pointer-events: var(--pEvt);
        padding-bottom: 5px;
      }
      .btn-wrapper {
        position: absolute;
        right: 15px; 
        bottom: 10px; 
        width: 50px;
        height: 35px;
        transition: .5s;
        cursor: pointer;
        @media (max-width: 430px) {
          width: 90%;
          height: 75px;
          right: initial;
          left: 50%;
          transform: translateX(-50%);
          bottom: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &:hover .btn-prev {
          transform: translateX(-40px);
          opacity: 0.3;
          @media (max-width: 430px) {
            transform: translateX(-80px);
          }
        }
        &:hover .btn-prev::before {
          opacity: 1;
        }
        .btn-prev, .btn-next {
          position: absolute;
          font-family: "font awesome 5 free";
          font-weight: 900;
          font-size: 20px;
          color: var(--clr);
          width: 40px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 7px;
          border: 4px solid var(--clr);
          pointer-events: var(--pEvt);
          transition: .5s ease-in-out;
          opacity: 0.3;
          @media (min-width: 430px) {
            &:hover {
              opacity: .8;
            }
          }
          @media (max-width: 430px) {
            font-size: 25px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            &.hover {
              opacity: .8;
            }
          }
        }
        .btn-prev {
          opacity: 0;
          @media (max-width: 430px) {
            opacity: 0.3;
            transform: translateX(-80px);
          }
          &::before {
            content: "\f04a";
            margin-right: 3px;
            margin-top: 1px;
            opacity: 0;
            @media (max-width: 430px) {
              opacity: initial;
            }
          }
        }
        .btn-next {
          @media (max-width: 430px) {
            transform: translateX(80px);
          }
          &::before {
            content: "\f04e";
            margin-left: 3px;
            margin-top: 1px;
          }
        }
      }
    }
    .handle {
      position: absolute;
      left: calc(50% - 40px);
      bottom: 3px;
      padding: 5px 40px;
      background-color: var(--clr);
      border-radius: 10px;
      opacity: .3;
      transition: .5s;
      cursor: pointer;
      @media (max-width: 430px) {
        bottom: 4px;
      }
      &.hover {
        opacity: .8;
      }
    }
  }
}


// -----------------------------------------------


























